* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #3498db;
  --btn-color: #ffffff;
  --text-gray: rgba(51, 51, 51, 0.7);
  --background: #f9f9f9;
  --box-color: #535353;
  --text-white: #ffffff;
  --light-gray-border: rgba(203, 203, 203, 0.341);
  --blue-background: #5bb0ea6e;
  --light-red: #ffe1e1;
  --light-blue: #d7eeff;
  --light-green: #f1fff1;
  --btn-hover: #51bfff;
  --lighter-blue: #5bb0ea21;
  --brown: #3d3b3bbd;
  --light-brown: #3d3b3bbd;
  --very-light-brown: #201c1c9e;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  background-color: var(--background);
  min-height: 100vh;
}

.header-section {
  padding: 20px 30px;
  border: 3px solid var(--light-gray-border);
  min-width: 100%;
}

.left-nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--btn-color);
}
.left-nav h1 {
  font-size: 1rem;
  font-weight: 500;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  padding: 5px 20px;
  border-radius: 50px;
  background-color: var(--lighter-blue);
}
.search-container input {
  height: 40px;
  flex: 1;
  margin-right: 10px;
  padding-left: 5px;
  border: none;
  outline: none;
  background: transparent;
}
.search-icon {
  background-color: #000000;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-icon,
.notification-icon {
  background-color: var(--lighter-blue);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comment-icon img,
.notification-icon img {
  width: 30px;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* panel section  */
.main {
  display: flex;
}
.panel-container {
  background-color: #ffffff;
  height: 100vh;
  width: 180px;
  margin-right: 20px;
  padding: 15px 25px;
}
.panel-content {
  padding: 10px 0;
}

.switch {
  margin: 40px 0;
  padding-top: 20px;
  border-top: 2px solid var(--light-gray-border);
}

.panel-group {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.7s ease-in-out;
  cursor: pointer;
}
.panel-group .active {
  color: #000000;
}

.panel-group h4 {
  padding-bottom: 5px;
  color: var(--text-gray);
  cursor: pointer;
}

.panel-group:hover {
  h4 {
    color: #000000;
  }
  .panel-img img {
    transform: scale(110%);
  }
}

.living-room {
  border-radius: 30px;
  background-color: var(--brown);
  width: 125px;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 15px 3px;
  padding-left: 5px;
  margin: 0 15px;
}
.living-room p {
  color: #ffffff;
  padding-left: 16px;
  font-size: 0.7rem;
}
.main-section {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 20px;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}
.main-top {
  margin: 15px 0;
  width: 500px;
  /* border: 2px solid red; */
}
.text-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.text-title p {
  color: var(--text-gray);
}
.main-top-container {
  position: relative;
}
.main-img-container {
  max-width: 500px;

  /* border: 2px solid red; */
}
.main-img-container img {
  width: 100%;
  object-fit: cover;
}
.float-container {
  position: absolute;
  /* inset: 19%; */
  left: 24.5%;
  top: 5.5px;
}
.float-content {
  display: flex;
  align-items: center;
  background-color: var(--light-brown);
  width: 205px;
  border-radius: 40px;
  padding: 0 20px;
}

.float-section {
  display: flex;
  align-items: center;
  background-color: var(--very-light-brown);
  width: 260px;
  border-radius: 40px;
  padding: 0 15px;
  padding-left: 0;
}

#img {
  margin-left: 19px;
}
.transactions {
  margin-top: 20px;
  background-color: var(--text-white);
  height: 350px;
  border-radius: 25px;
  padding: 30px;
  width: 530px;
}
.transaction-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}
.transaction-title p {
  color: var(--text-gray);
}
.transaction-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--light-gray-border);
  padding: 10px 0;
}
.sub-group {
  gap: 20px;
  display: flex;
  align-items: center;
}
.amount h4 {
  font-size: 1.2rem;
  color: var(--text-gray);
}
.transaction-text p {
  color: var(--text-gray);
  padding: 3px 0;
}
.transaction-text h3 {
  font-weight: 500;
}

.calender-content {
  margin-top: 20px;
  background-color: var(--text-white);
  height: 180px;
  border-radius: 25px;
  padding: 30px;
  width: 500px;
}
.calender-content p {
  font-size: 0.8rem;
}
.calender-date {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}
.date {
  text-align: center;
}
.date .bold-text {
  font-weight: 600;
  font-size: 0.9rem;
}

.highlight {
  background-color: var(--light-brown);
  padding: 10px;
  color: #ffffff;
  border-radius: 30px;
}
.saved {
  margin-top: 20px;
  background-color: var(--text-white);
  height: 350px;
  border-radius: 25px;
  padding: 30px;
  width: 530px;
  margin-bottom: 110px;
}
.saved-group {
  position: relative;
}
.saved-img {
  width: 470px;
  position: relative;
}
.saved-img img {
  width: 100%;
  object-fit: cover;
}
.info-group {
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 60px;
}
.info {
  width: 120px;
  height: 110px;
  padding: 20px;
  /* background-color: rgba(59, 48, 48, 0.6); */
  background-color: #3d3b3bbd;
  border-radius: 30px;
  color: var(--text-white);
}
.info h4 {
  font-size: 2.1rem;
  font-weight: 600;
}
.blur {
  border: 1px solid #ffffff;
  background-color: rgba(213, 213, 213, 0.6);
  /* color: var(--text-white); */
}
#see {
  cursor: pointer;
}
