* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #3498db;
  --btn-color: #ffffff;
  --text-gray: rgba(51, 51, 51, 0.7);
  --background: #f9f9f9;
  --box-color: #535353;
  --text-white: #ffffff;
  --light-gray-border: rgba(203, 203, 203, 0.341);
  --blue-background: #5bb0ea6e;
  --light-red: #ffe1e1;
  --light-blue: #d7eeff;
  --light-green: #f1fff1;
  --btn-hover: #51bfff;
  --lighter-blue: #5bb0ea21;
  --brown: #3d3b3bbd;
  --light-brown: #3d3b3bbd;
  --very-light-brown: #201c1c9e;
  --faded-brown: #e2e2e2;
  --faded-blue: #eef8ff;
  --placeholder-text: #403e3e78;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  background-color: var(--background);
  min-height: 100vh;
}

.header-section {
  padding: 20px 30px;
  border: 3px solid var(--light-gray-border);
  min-width: 100%;
}

.left-nav {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all ease-in-out 1s;
}
.left-nav:hover {
  cursor: pointer;
  transform: scale(105%);
}

.logo-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--btn-color);
}
.left-nav h1 {
  font-size: 1rem;
  font-weight: 500;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  padding: 5px 20px;
  border-radius: 50px;
  background-color: var(--lighter-blue);
}
.search-container input {
  height: 40px;
  flex: 1;
  margin-right: 10px;
  padding-left: 5px;
  border: none;
  outline: none;
  background: transparent;
}
.search-icon {
  background-color: #000000;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-icon,
.notification-icon {
  background-color: var(--lighter-blue);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comment-icon img,
.notification-icon img {
  width: 30px;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* panel section  */
.main {
  display: flex;
}
.panel-container {
  background-color: #ffffff;
  height: 100vh;
  width: 180px;
  margin-right: 20px;
  padding: 15px 25px;
}
.panel-content {
  padding: 10px 0;
}

.switch {
  margin: 40px 0;
  padding-top: 20px;
  border-top: 2px solid var(--light-gray-border);
}

.panel-group {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.7s ease-in-out;
  cursor: pointer;
}
.panel-group .active {
  color: #000000;
}

.panel-group h4 {
  padding-bottom: 5px;
  color: var(--text-gray);
  cursor: pointer;
}

.panel-group:hover {
  h4 {
    color: #000000;
  }
  .panel-img img {
    transform: scale(110%);
  }
}

.living-room {
  border-radius: 30px;
  background-color: var(--brown);
  width: 125px;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 15px 3px;
  padding-left: 5px;
  margin: 0 15px;
}
.living-room p {
  color: #ffffff;
  padding-left: 16px;
  font-size: 0.7rem;
}
.main-section {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 20px;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

/* first form  */

.property-detail {
  background-color: white;
  max-height: 630px;
  width: 450px;
  min-width: 300px;
  border-radius: 20px;
  padding: 15px;
  color: var(--box-color);
}

.group-item select {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1.5px solid var(--faded-brown);
  border-radius: 6px;
  margin-top: 5px;
}
.file-upload {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 0.65rem;
}
.wrapper-upload {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  border: 1px dashed var(--primary-color);
  height: 180px;
  background-color: var(--faded-blue);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 18px;
}
.file-upload-label {
  display: flex;
  align-items: center;
  padding: 7px 20px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 20px;
}
.text {
  font-size: 0.7rem;
  color: var(--brown);
}
.image-area {
  border: 1px solid var(--faded-brown);
  height: 50px;
  border-radius: 10px;
}
.file-upload-label:hover {
  background-color: var(--btn-hover);
}

.file-input {
  display: none; /* Hide the default file input */
}
/* properties-form  */

.properties-form {
  background-color: white;
  max-height: 550px;
  width: 350px;
  min-width: 200px;
  border-radius: 20px;
  padding: 15px;
  color: var(--box-color);
}
.group-item {
  margin: 20px 0;
}
.group-item label {
  display: block;
}
.group-item input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1.5px solid var(--faded-brown);
  border-radius: 6px;
  margin-top: 5px;
}
.group-item input::placeholder {
  color: var(--placeholder-text);
}

.address,
.description {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1.5px solid var(--faded-brown);
  border-radius: 6px;
  margin-top: 5px;
  resize: none;
  height: 80px;
}
.btn-container {
  text-align: center;
}

.add-property {
  padding: 8px 35px;
  border: none;
  border-radius: 20px;
  font-size: 0.7rem;
  color: white;
  background-color: var(--primary-color);
}

.profile-icon {
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 50%;
}
.profile-icon img {
  width: 100%;
  object-fit: contain;
}

.btn-logout {
  background-color: var(--primary-color);
  cursor: pointer;
  padding: 8px 20px;
  border: none;
  border-radius: 15px;
  color: white;
}

.btn-logout:hover {
  background-color: var(--btn-hover);
}
